{% extends 'base.html.twig' %}

{% block title %}Ad index{% endblock %}

{% block body %}
    <div>
        <h1>Mes annonces</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Thumbnails_urls</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for ad in ads %}
                <tr>
                    <td>{{ ad.id }}</td>
                    <td>{{ ad.title }}</td>
                    <td>{{ ad.price }}</td>
                    <td>
                        {% for thumbnailPath in ad.thumbnailsPaths %}
                            <img src="{{ asset(thumbnailPath) }}" alt="" width="100px">
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('app_ad_show', {'id': ad.id}) }}">show</a>
                        <a href="{{ path('app_ad_edit', {'id': ad.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_ad_new') }}">Create new</a>
    </div>
{% endblock %}
