{% extends 'base.html.twig' %}

{% block title %}
	Poser une question
{% endblock %}

{% block body %}
	{# Formulaire de question  #}
	<div class="container">
		{{ form_start(questionForm) }}
		{{ form_widget(questionForm) }}
		<button type="submit" class="btn btn-primary">Create</button>
		{{ form_end(questionForm) }}
	</div>
	{#  messsage flash } #}
	<div>
		{% for message in app.flashes('sucess') %}
			<div class="btn btn-success">{{ message }}</div>
			{% endfor%}
		</div>
		<a href="{{ path('app_home') }}" type="button" class="btn btn-info">Go to home</a>
	{% endblock %}
