<div class="announces flex-grow-1">
    <a href="{{ path('app_ad_show', {'id': ad.id}) }}">
        <img width='314' height='314' class="h-auto mb-2" alt=""
             src="{{ asset(ad.thumbnailsPaths[0]) }}"/>
    </a>
    <a href=""{{ path('app_ad_show', {'id': ad.id}) }}>
        <h3 class="fs-6">{{ ad.title }}</h3>
    </a>
    <span class="announces-date">
        <time class='font-12' datetime="a dynamiser">{{ ad.createdAt ? ad.createdAt|date('d-m-Y') : '' }},</time>
        <time class='font-12' datetime="a dynamiser">{{ ad.createdAt ? ad.createdAt|date('H:i:s') : '' }}</time>
    </span>
    <h4 class="font-12">{{ ad.tags|map(t => t.name)|join(', ') }}</h4>
    <p class="font-medium">{{ ad.price }}€</p>
</div>
