<nav class="border-bottom border-dark">
    <ul class="m-0 ps-0 py-3 d-flex justify-content-between align-items-center position-relative">
        <li>
            <a class='font-normal pe-4 d-sm-none d-md-inline hide-on-mobile' href="{{ path('app_ad_index') }}">Voir
                toutes les annonces</a>
            <a class='font-normal font-medium d-sm-none d-md-inline hide-on-mobile' href="{{ path('app_ad_new') }}">+
                déposer une annonce</a>
        </li>
        <li class="logo">
            <a class='font-normal font-medium fs-3' href="{{ path('app_home_page') }}">
                THE MARKET
            </a>
        </li>
        <li>
            {% if app.user %}
                <a href="{{ path('app_logout') }}" type="button"
                   class='font-normal d-sm-none d-md-inline hide-on-mobile'>se déconnecter</a>
            {% else %}
                <a class='font-normal pe-4 d-sm-none d-md-inline hide-on-mobile' href="{{ path('app_user_new') }}">S'inscrire</a>
                <a class='font-normal d-sm-none d-md-inline hide-on-mobile' href="{{ path('app_login') }}">Se
                    connecter</a>
            {% endif %}
        </li>
        <li class="position-absolute d-sm-inline d-md-none end-0">
            <button class="mobile-btn btn btn-outline-dark">
                <span class="inline-block line">menu</span>
            </button>
            <button class="mobile-btn btn btn-outline-dark position-absolute start-0">
                <span class="inline-block line">close</span>
            </button>
        </li>
    </ul>
</nav>
