{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	{% if app.user %}
		<div class='text-end'>
			{% if is_granted("ROLE_USER")%}
				<div class="mb-3">
					You are logged in as
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}" type="button" class="btn btn-success">Logout</a>
				</div>
			{% else %}
				<a href="{{ path('app_login') }}" type="button" class="btn btn-primary">Login</a>
				<a href="{{ path('app_user_new') }}" type="button" class="btn btn-warning">Sign-up</a>
			{% endif %}
		</div>
	{% else %}
		<div class="container-fluid w-25 position-absolute top-50 start-50 translate-middle">
			<form method="post">
				<h1 class="h3 mb-3 font-weight-normal text-center">Connexion</h1>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Email">
				<input type="password" name="password" id="inputPassword" class="form-control mt-3" autocomplete="current-password" required placeholder="Password">

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="checkbox mb-3">
					<label>
						<input type="checkbox" name="_remember_me">
						Remember me
					</label>
				</div>


				<button class="btn btn-lg btn-dark w-100" type="submit">
					Se connecter
				</button>
				<p class="text-dark">Pas encore inscrit ?
					<a class="text-secondary" href="{{ path('app_user_new') }}">Inscrivez-vous</a>
				</p>
			</form>
			{% if error %}
				<div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
		</div>


	{% endif %}


{% endblock %}
